.search-bar{
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: 600px;
    min-width: 300px;
    width: 50%;

    .search-bar-input{
        border: 1px solid black;
        border-radius: 2px;
        box-sizing: border-box;
        padding: 1em;
    }
}